body,h1,h2,h3,h4,h5,h6 {font-family: 'Quicksand', sans-serif; color: #666;}
body, html {   
    height: 100%;
    line-height: 1.2;
}
img {
  pointer-events: none;
}
.w3-button {
    border-radius: 10px;
}

.bp-blue {
    color: #fff!important;
    background-color: #116cb2!important;
}
.bp-hover-blue: hover {
    background-color: #116cb2!important;
}
.bp-blue-dark {
    color: #fff!important;
    background-color: #0d5185!important;
}
.bp-text-blue {
    color: #116cb2!important;
}
.bp-hover-text-blue:hover {
    color: #116cb2!important;
}
#navbar .w3-bar,
#navbar .w3-button {
    padding: 16px;
}
#navbar .w3-button:hover {
    color:inherit!important;
    background: inherit!important;
}

#sideBarIcon{
    margin:5px;
    width: 48px;
    height:48px;
    border-radius: 100%;
    background: none;
}

.w3-sidebar {
    color:#fff;
    background-color:rgba(0, 0, 0, 0.6)!important;
}
.w3-sidebar a {
    color:inherit;
    text-decoration: none;
}
.w3-sidebar a:hover {
    color:inherit;
    background-color: #116cb2!important;
}
.goastBt{
    color:#fff;
    background: none;
    border: solid 1.5px #fff;
    font-weight: bold;
}
.goastBt:hover {
    color: inherit!important;
    background-color:rgba(0, 0, 0, 0.6)!important;
} 
.goastBt:active {
    color: #FFF!important;
    background-color: rgba(0, 0, 0, 1)!important;
} 
.goastBt-white {
    color:#116cb2;
    background: none;
    border: solid 1.5px #116cb2;
    font-weight: bold;
}
.goastBt-white:hover {
    color: #FFF!important;
    background-color: rgba(17, 108, 178, 0.6)!important;
} 
.goastBt-white:active {
    color: #FFF!important;
    background-color: rgba(17, 108, 178, 1)!important;
} 
.bp-bt-blue {
    color: #fff;
    background-color: rgba(17, 108, 178, 0.75)!important;
}
.bp-bt-blue:hover {
    color: #fff!important;
    background-color: #116cb2!important;
}

#home {
    min-height: 100%;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;   
    min-height: 100%;
    width: 1920px;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

#heroText {
    top: 56%;
    width: 90%;
    max-width: 1100px;
}
#logoText {
    height:32px;
    margin: 8px 16px;
}
@media screen and (max-width: 600px){
    #logoText {margin: 8px 0;}
}
#logoShape {
    display: block;
    margin: 8px auto;
    width: 200px;
}
#numbers>div {
    margin: 8px auto;
}
#clientLogos {
    padding: 32px;
}
#clientLogos div { 
    padding: 16px 64px;
}
#client img {
    width:100%;
}
#solutions {
    padding: 128px 64px;
    background: #fff;
}
#solutions .w3-third {
    margin: 16px auto;
}
#solutions .w3-third .w3-white { 
    border-radius: 10px;
    padding:32px;
}
#solutions .w3-third div p {
    margin: 32px auto;
}

#last {
    height:750px;
    background-color: rgba(255, 255, 255, 0.6);
    /*background: url("../img/wow.png")  no-repeat center;*/
    background-size: cover; 
}
#videoGray {
    position: absolute;
    height: auto;
    width:1920px;
    z-index: -99;
}

#ticketModal div, #ticketModal header,  #ticketModal input{
    border-radius: 10px;
}
#ticketModal header span:hover {
    color:#116cb2!important;
    background: none!important;
}
.w3-modal-content {
    max-width: 600px;
    padding: 32px;
}
#ticketModal input {
    margin: 24px auto;
    height: 48px;
    font-size: 1.2em;
    color: #116cb2;
    border: 1.5px solid rgba(17, 108, 178, 0.6)!important;
}
#ticketModal button {
    margin: 48px auto auto;
    font-size: 1.2em;
    max-width: 192px;
    color: #fff;
    background-color: rgba(17, 108, 178, 0.75)!important;
}
#ticketModal button:hover {
    color: #fff!important;
    background-color: #116cb2!important;
}
