body,h1,h2,h3,h4,h5,h6 {font-family: 'Quicksand', sans-serif; color: #666;}
body, html {   
    height: 100%;
    line-height: 1.2; 
    color: #666;
}
img {
  pointer-events: none;
}
.bp-blue {
    color: #fff!important;
    background-color: #116cb2!important;
}
.bp-blue-dark {
    color: #fff!important;
    background-color: #0d5185!important;
}
.bp-text-blue {
    color: #116cb2!important;
}

#navbar .w3-bar,
#navbar .w3-button {
    padding: 16px;
}
#navbar .w3-button:hover {
    color:inherit!important;
    background: none!important;
}
#logoBar {
    padding: 10px 16px!important;
}
#logoBar img {
    height: 32px;
}
.w3-sidebar {
    color:#fff;
    background-color:rgba(0, 0, 0, 0.6)!important;
}
.w3-sidebar a {
    color:inherit;
    text-decoration: none;
}
.w3-sidebar a:hover {
    color:inherit;
    background-color: #116cb2!important;
}
.goastBt {
    color:#fff;
    background: none;
    border: solid 1px #fff;
    border-radius: 10px;
}
.goastBt:hover {
    color:#fff!important;
    background-color:rgba(0, 0, 0, 0.6)!important;
} 
#home, #pricing {
    min-height: 100%;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

#heroText {
    top: 60%;
}
#logo {
    display: block;
    margin: auto;
    width: 150px;
}
#client {
    padding: 128px 64px;
}
#client img {
    padding: 32px 64px;
}